/* ! layout page */

header{
    height: 80px;
}

.bot-content{
    height: calc(100vh - 80px);
    background-color: #051E34;
    display: flex;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    flex-basis: 80px;
    flex-shrink: 0;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    overflow: auto;
    flex-grow: 1;
    background-color: blue;
}

/* ! header */

#logo{
    max-width: 50px;
}

/* !sidebar */

.sidebar a{
    color: #fff;
}
