/* ! layout page */

.page-header{
    height: 80px;
}

.bot-content{
    height: calc(100vh - 80px);
    background-color: #051E34;
    display: flex;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    flex-basis: 80px;
    flex-shrink: 0;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    overflow: auto;
    flex-grow: 1;
    background-color: #F8F9FA;
}

/* ! header */

#logo{
    max-width: 50px;
}

/* !sidebar */

.sidebar a{
    color: #fff;
}

/* ! main */

.main-header{
    background-color: #1B72E8;
    color: #fff;
}

.main-header .text-bg-dark {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

#icon-table{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}